html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
.auth-container {
  background-image: url("/img/shield.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: left;
  background-position-y: center;
  /* background-position: 50px 150px; */

  @media only screen and (max-width: 1024px) {
    background-image: none;
  }
}
/* ReactQuill text editor styles */
.ql-toolbar.ql-snow {
  background-color: #f1f5f9;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.ql-picker-label::before {
  color: #64748b;
  font-weight: 400;
}
.ql-toolbar.ql-snow .ql-stroke {
  stroke: #64748b;
  stroke-width: 1;
}
/* .ql-container.ql-snow {
  border: 1px solid #5e5e62 !important;
} */
.ql-editor.ql-blank::before {
  font-style: normal !important;
  color: #5e5e62 !important;
}
.ms_login {
  width: 100% !important;
  margin-top: 1rem;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-upload-wrapper
  .ant-upload-drag {
  background-color: transparent !important;
}
