@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-container {
    width: unset !important;
    padding: 0 !important;
}

.Toastify__toast-body {
    padding: 0 !important;
}

.Toastify__toast {
    background: unset !important;
    box-shadow: 0px 12px 24px rgba(80, 80, 80, 0.18) !important;
    padding: 0 !important;
    margin: 0 !important;
}
